.settingFortaskInput{
    display: flex;
    margin-top: 10px ;
}

.priorityDiv img{
   height: 21px;
   padding: 0px;
}
.divForIconPriority{
    border:1px solid #a2a2a2;
    height: 30px;
    width: 30px;
    border-radius: 4px;
}
.allFormForInputAndSettings input{
  padding: 2px;
  color:rgb(255, 255, 255);
}
.allFormForInputAndSettings {
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 53, 53);
    height: 170px;
    width: 300px;
    padding: 10px;
    transform: translateX(-2%);
    margin-top:45px;
    position:absolute;
    border-radius: 15px;
    border: 1px solid rgb(162, 162, 162);
  }

  .inputForm{
    margin-left: 0px;
    position: relative;
    width: 95%;
    background-color: rgba(83, 83, 83, 0);
    border: none;
    font-size: 15px;
    height: 40px;
  }
  
  .datePicker .MuiButtonBase-root {
    color:rgb(162, 162, 162) !important;
    padding: 0px;
  }
 .datePicker .MuiInputBase-root{
  margin-left: 9px;
    width: 120px;
    height: 30px !important;
    font-size: 15px !important;
    color:rgb(162, 162, 162)!important;
    background-color: rgb(53, 53, 53);
    
 
 }
 .datePicker .MuiOutlinedInput-notchedOutline {
    border-color: rgb(162, 162, 162)!important;
  }
  
  .datePicker .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #ffffff !important;
  }
  
  .datePicker .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #4b0303 !important;
  }
  
 /* Стили для контейнера приоритетов */
.priority-container {
    position: relative;
    margin: 10px;
    
    
  }
 
  .priorityDiv{
     background-color:  rgb(53, 53, 53);
    margin-left: 10px;
    position: relative;
  }
  /* Стили для формы приоритетов */
  .priority-form {
    background-color: #383838;
    padding: 5px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0px 0px 4px 2px rgb(162, 162, 162);
    width: 200px;
    color: #ffffff;
    position:absolute;
  }
  
  .priority-fieldset {
    border: 1px solid rgb(162, 162, 162);
    border-radius: 4px;
    padding: 10px;
  }
  
  /* Стили для опций приоритета */
  .priority-option {
    display: flex;
    align-items: center;
    margin: 8px 0;
  }
  
  .priority-label {
    margin-left: 8px;
    font-size: 14px;
    cursor: pointer;
    flex-grow: 1;
  }
  
  .reminder{
    border-radius: 8px;
    width: 30px;
    height: 30px;
    
    color:rgb(162, 162, 162)
  }
  .timePicker .MuiButtonBase-root {
    color: rgb(162, 162, 162) !important;
    margin-left: -16.5px;
   
  }
 .timePicker .MuiInputBase-root{ 
    background-color:  rgb(53, 53, 53);
    width: 30px;
    height: 30px !important;
    font-size: 15px !important;
    color: rgb(162, 162, 162)!important;
    margin-left: 10px;
 }
 .timePicker .MuiOutlinedInput-notchedOutline {
    border-color:rgb(162, 162, 162) !important;
  }
  
  .timePicker .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #ffffff !important;
  }
  
  .timePicker .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #c56666 !important;
  }
  
  .buttonSaveAndClose button{
    width: 85px;
    margin: 5px;
    color:rgb(162, 162, 162) ;
    margin-top: 10px;
  }
  .buttonSaveAndClose{
    margin-top: 18px;
    border-top: 1px solid rgb(162, 162, 162) ;
  }